* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    91deg,
    rgba(72, 154, 78, 1) 5.2%,
    rgba(251, 206, 70, 1) 95.9%
  );
}
.calculator-container {
  width: 280px;
  box-shadow: 0px 0px 6px 3px #009aff;
  height: 400px;
  background-color: #1e1e1e;
  margin: 70px auto;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  .calculator-top {
    height: 20%;
    background-color: #323232;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 588;
    border: 1px solid black;
    text-align: right;
    overflow: hidden;
    .top,
    .bottom {
      font-size: 13px;
      width: 100%;
      height: 50%;
    }
  }
  .calculator-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid black;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      &:hover {
        background-color: #323232;
      }
    }
  }
}
